# Ambiente
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]

# Java / Maven
target/
*.class
*.jar
*.war

# Logs
*.log

# Banco H2
*.mv.db
*.trace.db

# Uploads
uploads/
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
Thumbs.db
.DS_Store
